<mat-toolbar color="primary">
    <span>PrepUp</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" routerLink="/home">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="afterMenu">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>

<mat-menu class="mat-menu-content" #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item>
        <mat-icon>login</mat-icon>
        Login
    </button>
    <button mat-menu-item>
        <mat-icon>face</mat-icon>
        Register
    </button>
</mat-menu>