<div class="bootstrap-wrapper" *ngIf="!isSubmit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 mt20 text-center">
                <!--Instructions-->
                <h3>Instrutions</h3>
            </div>
            <div class="col-md-8 mt20">
                <ng-container *ngIf="questions">
                    <h1>On Going Exam: {{ questions[0].quiz.title }} </h1>
                </ng-container>
                <mat-card *ngFor="let q of questions; let i = index;">
                    <mat-card-content>
                        <p class="ml20" [innerHTML]="q.content"></p>
                        <mat-divider>
                        </mat-divider>
                        <div class="row m20">
                            <div class="col-md-6 col-6">
                                <input type="radio" [value]="q.option1" [name]="i"
                                    [(ngModel)]="q.givenAnswer"/>
                                {{ q.option1 }}
                            </div>
                            <div class="col-md-6 col-6">
                                <input type="radio" [value]="q.option2" [name]="i"
                                [(ngModel)]="q.givenAnswer"/>
                                {{ q.option2 }}
                            </div>
                        </div>
                        <div class="row m20">
                            <div class="col-md-6 col-6">
                                <input type="radio" [value]="q.option3" [name]="i"
                                [(ngModel)]="q.givenAnswer" />
                                {{ q.option3 }}
                            </div>
                            <div class="col-md-6 col-6">
                                <input type="radio" [value]="q.option4" [name]="i"
                                [(ngModel)]="q.givenAnswer" />
                                {{ q.option4 }}
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <div class="container text-center mb20">
                    <button mat-raised-button color="warn" (click)="submitQuiz()">Submit</button>
                </div>
            </div>
            <div class="col-md-2 mt40">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Progress</mat-card-title>
                        <mat-card-subtitle>
                            Exam will automatically submitted when timer reaches to <b>00:00</b> 
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <h1 class="text-center"> {{ getFormattedTime() }} </h1>
                        <mat-spinner [value]="(timer/(this.questions.length * 2 * 60)) * 100" color="accent" mode="determinate" class="spinner"></mat-spinner>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
