.truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.mat-card {
    margin: 2rem 0.9rem 2rem 0;
}

.example-header-image {
    background-image: url('/assets/answer.png');
    background-size: cover;
}

.text-vertical {
    margin-top: 12rem;
    
}