.mat-card {
    margin: 2rem 0.9rem 2rem 0;
    
}

.mat-subcard {
    border-radius: 20px;
    background-color: rgb(228, 231, 231);
}

.example-header-image {
    background-image: url('https://cdn-icons-png.flaticon.com/512/1205/1205526.png');
    background-size: cover;
  }

.card-action-button {
    border-radius: 20px;
    margin: 0.5rem;
}