<mat-card>
    <mat-list>
        <div mat-subheader>All Quizzes</div>
    </mat-list>    
    <mat-card class="mat-subcard" *ngFor="let q of quizzes">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title> {{ q.title }} </mat-card-title>
            <mat-card-subtitle> {{ q.category.title }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              {{ q.description }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button class="card-action-button" mat-flat-button color="accent">Questions</button>
            <button class="card-action-button" mat-stroked-button color="warn">Max Marks {{q.maxMarks}} </button>
            <button class="card-action-button" mat-stroked-button color="warn">Questions: {{q.numberOfQuestions}} </button>
            <button class="card-action-button" mat-stroked-button color="warn" [routerLink]=" '/admin/quiz/' + q.qid ">Update</button>
            <button class="card-action-button" mat-stroked-button color="warn">Attempts</button>
            <button class="card-action-button" mat-stroked-button color="warn" (click)="deleteQuiz(q.qid)">Delete</button>
        </mat-card-actions>
    </mat-card>
    <div class="container text-center m20">
        <button mat-mini-fab color="primary" routerLink="/admin/addquizzes" matTooltip="Click to add more quiz">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</mat-card>

 